<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <property name="batch_size">50</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="connection.driver_class"> com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="connection.url">jdbc:sqlserver://localhost;databaseName=test</property>
        <property name="connection.password">test</property>
        <property name="connection.username">tester</property>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServer2008Dialect</property>

        <!-- Maps to test.Users -->
        <mapping resource="hibernate/User.hbm.xml"/>

    </session-factory>

</hibernate-configuration>